#contact{
    .left-block{}

    .right-block{
        #contact-map{
            width: 100%;
            height: 350px;
            max-height: 350px;
            margin: 1.5em 0;
        }
    }

    .wpcf7 input[type="text"],
    .wpcf7 input[type="email"],
    .wpcf7 textarea{
        background-color: transparent;
        outline:none;
        border:none;
        border-bottom:2px solid $color-primary-2;
        color: inherit;
        width: 50%;

        @include small{
            width: 100%;
        }
    }

    //NOT VALID
    span.wpcf7-not-valid-tip {
    color: $color-primary-2!important;
    }

    div.wpcf7-validation-errors {
        border: 2px solid #FFCE54!important;
    }

    //INPUT SUBMIT
    input[type="submit"],
    .wpcf7-form-control .wpcf7-submit{
        background: transparent;
        outline:none;
        padding:7px 15px;
        text-transform:uppercase;
    }
}