# Ignores everything in wp-content except plugins and themes (this means uploads wont be checked in)

wp-content/*
!wp-content/plugins/
!wp-content/themes/


 
# Ignore everything in the "plugins" directory, except the plugins you declare
#Allows only plugins needed to make the site work to be stored in source control

wp-content/plugins/*
# !wp-content/plugins/[some important plugin]



# Ignore everything in the "themes" directory, except the themes we have built
wp-content/themes/*
# !wp-content/themes/kreartivci

#sitemaps created by plugins (dynamically generated so no point storing)
sitemap.xml
sitemap.xml.gz

#Damm mac files
.DS_Store
node_modules