
//Grey colors
//$grey1: #526475; //Used as default text color
$grey1: #585858;
$grey2: #6a7e95; //Used as small text color
$grey3: #f1f5fa; //Used for blocks background

//main font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
//logo font
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
//Blue colors
$blue1: #09a0f6;
$blue2: #d1e1e8;
$color-primary-2: #cc28bc;

//Button Colors
$green1: #7CB342;
$green2: darken($green1 ,10%);
$red1: #F44336;
$red2: darken($red1 ,10%);
$orange1: #F57C00;
$orange2: darken($orange1 ,10%);

//Default colors
$white: #ffffff;
$black: #000000;
